<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timewarp.scan.timewrapscan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Time_Warp_Scan"
        tools:targetApi="31">

        <activity
            android:name=".ui.defaults.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ShareScreenVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ShareScreenPhotoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.timewarpscanfacefilter.ui.activity.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MyCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.WaterFallVideo.HomeWaterFallActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.TimeWrapFaceActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.defaults.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.defaults.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.Screen4Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.Screen5Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.Screen3Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.Screen2Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.screen.Screen1Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>